h1{
    text-align: none;
    font-family: 'Times New Roman ';
    color: grey;
    font-size: 20px;

}
a{
    color: cadetblue;
}
img{
    width: 500px; height: 500px;
}
button{
    background-color:rgb(240, 185, 185);
    color: white;
    padding: 20px;
    margin: 30px;
    border:10px ;
    border-radius: 20px;
}
aside{
    background-color: darkseagreen;
}
footer{
    text-align: center;
    background-color:rgb(243, 187, 187);
}
h3{
    text-align: center;
}
strong{
    color: orange;
}